{% extends 'base.html' %}

{% block title %}Human Resources Module{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <h4 class="m-5"><mark>Task - 2 Create a styled form containing a name field and dropdown fields</mark>
      </h4>
      <h4 class="mt-1 mx-5">Create a styled form containing a name field and dropdown fields with the Hover to dropdown effect. For a given name, display some set of dropdown values, and for another name display some other sets of values.</h4>
      <h5>
        <ul class="mt-1 mx-5">
          <li>Eg :
            <ul>
              <li>name: x, dropdown: [a, b, c]</li>
              <li>name: b, dropdown: [k, l, m]</li>
            </ul>
          </li>
        </ul>
      </h5>
      <br>
      <hr>
      <br>
      <div style="border:2px solid green; border-left: 6px solid green;background-color: rgb(184, 244, 184);" class="p-3">
        <h4 class="m-3"><strong >Note :</strong><br></h4>
        <h4 class="m-3" style="text-align: center;"> Task Completed : When we select a particular college and we get the branch names based on the college . So the change of the branch names occurs with the change of the change of college.</h4>
      </div>
    </div>
  </div>

  
{% endblock %}